@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eee;
  --foreground: #161616;
}

* {
  scrollbar-gutter: stable;
  /* cursor: none; */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  mix-blend-mode: difference;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1c69f9;
  border-radius: 5px;
  mix-blend-mode: difference;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #eee;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.nav-hover-btn {
  @apply relative ms-10 text-xs uppercase text-blue-50 after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-neutral-800 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-white cursor-pointer;
} 

.floating-nav {
  @apply bg-black rounded-lg border;
}

.absolute-center {
  @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
}

.flex-center {
  @apply flex justify-center items-center;
}

.mask-clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.about-image { /* h-[60dvh ] was original value */
  @apply absolute left-1/2 top-0 z-20 h-96 w-96 origin-center -translate-x-1/2 overflow-hidden rounded-3xl md:w-[30vw];
}