/* Horizontal scrollbar */
::-webkit-scrollbar {
  height: 0; 
}

::-webkit-scrollbar-thumb {
  background: transparent; 
  background: #008080;
}
 
::-webkit-scrollbar-track {
  background: #eeeeee; 
}
