/* Horizontal scrollbar */
::-webkit-scrollbar {
  height: 2px;  /* Change height to control horizontal scrollbar size */
}

::-webkit-scrollbar-thumb {
  background: transparent; /* Change the color of the horizontal scrollbar thumb */
  border-radius: 10px;
}

/* Optional: Customize scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #eeeeee; /* Color for the track (background) */
  /* border-radius: 10px; */
}
